In [3]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.7.4.2-py3-none-any.whl (173 kB)
Requirement already satisfied: text-unidecode in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (61.2.0)
Requirement already satisfied: idna in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (3.3)
Requirement already satisfied: six>=1.10 in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: bleach in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: charset-normalizer in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: tqdm in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (4.64.0)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (1.26.9)
Requirement already satisfied: webencodings in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: certifi>=14.05.14 in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (2.27.1)
Requirement already satisfied: python-slugify in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: protobuf in c:\users\reach\anaconda3\lib\site-packages (from kaggle) (3.19.1)
Requirement already satisfied: packaging in c:\users\reach\anaconda3\lib\site-packages (from bleach->kaggle) (21.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\reach\anaconda3\lib\site-packages (from packaging->bleach->kaggle) (3.0.4)
Requirement already satisfied: colorama in c:\users\reach\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.4)
Installing collected packages: kaggle
Successfully installed kaggle-1.7.4.2

In [6]:
import kaggle
!kaggle datasets files ankitbansal06/retail-orders

name           size  creationDate
----------  -------  --------------------------
orders.csv  1348640  2024-04-13 08:31:37.605000

In [14]:
!kaggle datasets download ankitbansal06/retail-orders

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0

In [18]:
import zipfile
with zipfile.ZipFile("retail-orders.zip") as ref:
   ref.extractall()

In [21]:
import pandas as pd
df = pd.read_csv("orders.csv")
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [22]:
df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [23]:
#add 'Not Available', 'unknown' as nan values while reading csv
df = pd.read_csv("orders.csv",na_values=['Not Available', 'unknown'])
df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [24]:
#rename columns with underscore and lowercase
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [34]:
df.columns=df.columns.str.lower().str.replace(" ","_")
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [40]:
#profit calculation

df["discount"]=df["list_price"]*df["discount_percent"]*0.01
df["sale_price"]=df["list_price"]-df["discount"]
df["profit"]=df["sale_price"]-df["cost_price"]
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [51]:
#change datatype of order_date to datetime
df["order_date"]=pd.to_datetime(df["order_date"],format ='%Y-%m-%d')

In [62]:
#drop cost price list price and discount percent columns
df.drop(['list_price','cost_price','discount_percent'],axis=1,inplace=True)

In [63]:
#load the data into sql server using replace option
import sqlalchemy as sal
engine = sal.create_engine('mssql://HimaSumaDinesh/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [65]:
df.to_sql("df_orders",conn,index=False,if_exists='append')

-1

In [68]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0